.form-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.action-buttons-container {
    display: flex;
    justify-content: flex-end;
}

.section {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ingredients, .tags {
}

.strong-title {
    font-weight: bold;
}

.slider-value {
    position: absolute;
    right: 15px;
    top: 0px;
}
