<mat-card>
    <mat-card-content>
        <div class="form-container">
            <h1 class="mat-h4">Filtrering</h1>
            <div class="section tags">
                <recept-add-chip-list
                [chipPlaceholder]="'Etiketter'"
                [chipData]="filterParameters.tags"
                (chipChange)="tagsChange($event)"></recept-add-chip-list>
            </div>
            <div class="section">
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" placeholder="Datum">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="section ingredients">
                <recept-add-chip-list
                [chipPlaceholder]="'Ingredienser'"
                [chipData]="filterParameters.ingredients"
                (chipChange)="ingredientsChange($event)"></recept-add-chip-list>
            </div>
            <div class="section">
                <label>Max Näringsvärde</label>
                <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
            </div>
        </div>
    </mat-card-content>
    <div class="action-buttons-container">
        <button mat-stroked-button (click)="reset()">Rensa</button>
        <button style="margin-left: 5px;" mat-flat-button color="primary">Sök</button>
    </div>
</mat-card>