<mat-card>
    <mat-card-content>
        <div class="form-container">
            <h1>Sök</h1>
            <span class="strong-title">Etiketter</span>
            <div class="section tags">
                <recept-add-chip-list
                [chipPlaceholder]="'Sök efter etikett'"
                [chipData]="filterParameters.tags"
                (chipChange)="tagsChange($event)"></recept-add-chip-list>
            </div>
            <span class="strong-title">Tid</span>
            <div class="section">
                <mat-form-field floatLabel="always">
                    <input matInput [matDatepicker]="picker" placeholder="Datum">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <span class="strong-title">Ingredienser</span>
            <div class="section ingredients">
                <recept-add-chip-list
                [chipPlaceholder]="'Sök efter ingrediens'"
                [chipData]="filterParameters.ingredients"
                (chipChange)="ingredientsChange($event)"></recept-add-chip-list>
            </div>
            <span class="strong-title">Innehåll</span>
            <div class="section">
                <label>Kalorier</label>
                <mat-slider min="1" max="10000" (input)="updateCalValue($event)" [(value)]="sliderCalValue"></mat-slider>
                <span class="slider-value">{{ sliderCalValue }} kcal</span>
            </div>
        </div>
    </mat-card-content>
    <div class="action-buttons-container">
        <button mat-stroked-button (click)="reset()">Rensa</button>
        <button style="margin-left: 5px;" mat-flat-button color="primary">Sök</button>
    </div>
</mat-card>