.mat-toolbar {
    bottom: 0;
    position: fixed;
    z-index: 9999;
    .mat-toolbar-row {
        justify-content: space-around;
    }
}
.floating-button {
    bottom: 32px;
    position: fixed;
    right: 32px;
    z-index: 9999;
}