:host {
	display: flex;
    flex-grow: 1;
	align-items: center;
	justify-content: flex-end;
}
.mat-toolbar {
    // border-bottom: 1px solid #e6e6e6;
}
.matching-query-container {
	font-size: 11pt;
	font-style: italic;
}
.search-input {
	flex-grow: 1;
}
.search-button {
}