<!-- <mat-form-field floatLabel="never" class="search-input">
	<input matInput type="text" [ngClass]="{'active': searchString !== ''}" ([ngModel])="searchString" (keyup)="onSearch($event.target.value)">
</mat-form-field> -->
<button class="search-button" mat-icon-button><mat-icon>search</mat-icon></button>
<!-- <button mat-icon-button><mat-icon>tune</mat-icon></button> -->
<!-- <div class="matching-query-container" *ngIf="searchString">
	<span>Found {{matchingRecipes || 'no'}} recipe{{matchingRecipes > 1 ? 's' : ''}} containing "{{searchString}}"</span>
</div> -->