<mat-nav-list>
	<a mat-list-item (click)="addIngredient()">
		<span mat-line>Ingrediens</span>
		<span class="mat-caption" mat-line>Lägg till en ingrediens med mängd och mått</span>
	</a>
	<a mat-list-item>
		<span mat-line>Instruktion</span>
		<span class="mat-caption" mat-line>Lägg till en instruktion för receptet (tex "Börja med att sätta på ugnen på 200 grader...")</span>
	</a>
	<a mat-list-item>
		<span mat-line>Underrubrik</span>
		<span class="mat-caption" mat-line>Lägg till en underrubrik som avdelare (tex “Såsen” eller “Sallad”)</span>
	</a>
</mat-nav-list>