<recept-create-recipe-page *ngIf="edit != null"
	[title]="title"
	[id]="currentRecipe && currentRecipe.id"
	[name]="currentRecipe && currentRecipe.name"
	[description]="currentRecipe && currentRecipe.description"
	[images]="currentRecipe && currentRecipe.images"
	[editMode]="edit === 'true'"
	[ingredientItems]="currentRecipe && currentRecipe.ingredients"
	(removeIngredient)="removeIngredient($event)"
	(createRecipe)="createRecipe($event)"
	(updateRecipe)="updateRecipe($event)"
	(deleteRecipeImages)="deleteRecipeImages($event)"
	(back)="navigateToRecipes()"
	(addItem)="addItem()"
	[loading]="loading">
</recept-create-recipe-page>
<recept-view-recipe-page *ngIf="edit == null"
	[title]="title"
	[name]="currentRecipe && currentRecipe.name"
	[description]="currentRecipe && currentRecipe.description"
	[images]="currentRecipe && currentRecipe.images"
	[ingredientItems]="currentRecipe && currentRecipe.ingredients"
	(back)="navigateToRecipes()"
	(edit)="navigateToEditRecipe()"
	[loading]="loading">
</recept-view-recipe-page>