<mat-card-header>
  <button mat-icon-button class="action-menu" [matMenuTriggerFor]="postActions"><mat-icon>more_vert</mat-icon></button>
  <mat-menu #postActions="matMenu">
    <button mat-menu-item>View</button>
    <button mat-menu-item>Share</button>
    <button mat-menu-item>Edit</button>
  </mat-menu>
</mat-card-header>
<div class="recipe-image-wrapper">
  <img mat-card-image class="recipe-image" src="{{recipe.base64Thumbnail}}"> <!-- src="assets/img/{{recipe.images[0]}}"-->
</div>
<mat-card-content> <!--  (click)="expandPost(recipe.title)" -->
    <!-- <div class="image-action"><mat-icon svgIcon="fullscreen"></mat-icon></div> -->
  <h1 class="recipe-heading">{{ recipe.name }}</h1>
  <div class="recipe-content">
    <span>{{ recipe.description }}</span>
    <ul class="recipe-ingredients">
      <li class="recipe-ingredients-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }}</li>
    </ul>
  </div>
</mat-card-content>
<!-- <div class="recipe-footer">
  <div class="flex">
      <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="primary"><mat-icon>share</mat-icon></button>
  </div>
</div> -->